html {
  font-size: 62.5%;
}

body {
  background-color: #f0fffc;
  background-image: url("./imgs/background.svg");
  background-repeat: no-repeat;
  background-position: top;
  color: black;
}

h1,
p {
  margin: 0;
}

.navbar {
  margin: 4.8rem 12.4rem;
  display: flex;
  justify-content: space-between;
}

.navbar img {
  width: 72px;
}

.link {
  font-size: 1.6rem;
  font-family: "Noto sans";
  font-weight: 500;
  text-decoration: none;
  color: #363636;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: 0.15s color ease-in-out, 0.15s border ease-in-out;
}

.link:hover {
  color: #161616;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.main {
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  font-size: 6.4rem;
  font-family: "Merriweather";
  font-weight: 700;
  margin-bottom: 1rem;
}

.subheading {
  font-size: 1.8rem;
  font-family: "Noto sans";
  font-weight: 400;
  margin-bottom: 21rem;
}

.email {
  font-size: 2rem;
  font-family: "Noto sans";
  font-weight: 600;
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  text-decoration: none;
  color: #363636;
  transition: 0.15s color ease-in-out, 0.15s border ease-in-out;
}

.email:hover {
  color: #161616;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}
